*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Nav{
    background-color: pink;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    padding: 2rem;
}
.navitem{
    text-decoration: none;
}
